* {
    box-sizing: border-box;
    /* border: 2px solid green; */
}

body {
    background-color: #88CDF6;
    margin: 0px;
    padding: 0px;
    position: static;
    overflow-x: hidden;
}

.fr-1-2-3-4-5cont {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.frame-1 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0%;
    position: relative;
    background-color: #88CDF6;
}

.frame-2 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    position: absolute;
    background-color: #88CDF6;
    display: flex;
    align-items: center;
    justify-content: center;
}


.frame-3 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    position: absolute;
    background-color: #f0f0f0;
}

.frame-4 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    position: absolute;
    background-color: #88CDF6;
}

.hidden {
    display: none;
}

/* slide animation */
.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

.slide-out {
    animation: slideOut 1s forwards;
}

@keyframes slideOut {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

/* game website */
/* ------------------------------------------------------------- */
/* frame-1 */

.btn-pos {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 18rem;
    height: 9rem;
    border-radius: 45px;
    box-shadow: 11px 8px 4px rgba(28, 49, 39, 0.25);
    background-size: cover;
    border-width: 0px;
}

@media only screen and (min-width:1501px) {
    .buttons {
        scale: 1.3;
    }
}

#bergen-btn {
    background-image: url('../img/bergen-btn.png');
}

#kunst-btn {

    background-image: url('../img/kunst-btn.png');
}

#strand-btn {

    background-image: url('../img/strand-btn.png');
}

#auto-btn {

    background-image: url('../img/auto-btn.png');
}

#dieren-btn {

    background-image: url('../img/dieren-btn.png');
}

#ruimte-btn {

    background-image: url('../img/ruimte-btn.png');
}

.btn-text {
    font-family: "Lalezar", system-ui;
    font-size: 3rem;
    color: aliceblue;
}

/* frame-2 */

@media only screen and (min-width:1501px) {
    #lvl-row {
        scale: 1.3;
    }
}

.tooltip-cont {
    position: relative;
}

.tooltip-cont .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-cont:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    display: inline;
}

.level-btn {
    width: 15rem;
    height: 15rem;
    border-width: 0px;
    border-radius: 4rem;
    box-shadow: 13px 10px 10px rgba(252, 236, 222, 0.5);
    background-size: cover;
}

#easy-level {
    background-image: url('../img/easy-level.png');
}

#medium-level {
    background-image: url('../img/medium level.png');
}

#complex-level {
    background-image: url('../img/complex level.png');
}

/* frame 3 */
#tn-btn {
    width: 250px;
    height: 100px;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgCanvas {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.selectedPhoto {
    border: 3px solid orangered;
}

.selectedLevel {
    border: 3px solid orangered;
}

/* frame-4 */
.score-text {
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    position: relative;
    text-align: center;
    color: rgba(73, 87, 129, 1);
}

#score-area {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    position: relative;
    text-align: center;
    color: rgba(73, 87, 129, 1);
    border: 0;
    background: none;
    justify-self: center;
    display: flex;
}


.custom-buttons .buttons {
    width: 400px;
    margin: 50px auto;
    padding: 10px 20px;
    text-align: center;
}

.custom-buttons button {
    position: relative;
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 0;
    font-size: 22px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.custom-buttons button:active {
    top: 1px;
    box-shadow: none;
}

.custom-buttons .icon {
    position: absolute;
    left: 20px;
}

.custom-buttons .btn-green {
    border-radius: 1rem;
    background: #1abc9c;
    border-bottom: 2px solid #12ab8d;
    box-shadow: inset 0 -2px #12ab8d;
}

.custom-buttons .btn-green .icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}

.custom-buttons .btn-green:hover .icon {
    transform: rotate(360deg) scale(1.2);
}
